#edit-facebook-link-share-link-check:hover{
	background-image:url(link_hover.png); 
}
#edit-facebook-link-share-link-clear:hover{
	background:url(cancel_hover.png) top left no-repeat;
}

/*****************

	FACEBOOK STATUS Styling
	
***********/



#facebook-status-box #edit-fbss-submit, #facebook-status-edit #edit-fbss-submit {
	float:right;
	font-size:12px;
	padding: 3px 5px;
}

#facebook_status_update {
	margin-bottom:10px;
}


#facebook_status_replace {
	margin-bottom:0px;
	clear:both;
}

#edit-fbss-status-1-wrapper {
	margin-bottom:0px;
	margin-top:0px;
}

#facebook-status-box textarea#edit-fbss-status {
	width:613px;
	padding-top:3px;
	padding-left:3px;
	margin-bottom:5px;
	margin-right:0px;
	margin-top:0px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;	
	border: 1px solid #7DC146;
	clear:both;
	float:none;
}

#facebook-link-images {
	float:left;
}


fieldset.facebook-link-wrapper-inner {
	border-style: none;
	width:85%;
	float:left;
	padding:0px;
	margin-bottom:0px;
	margin-left:0px;
}

input#edit-facebook-link-share-link-check {
	padding:0px;
		-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	float:left;
}

input#edit-facebook-link-share-link-clear {
	padding:0px;
		-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	float:right;
}

.facebook-link-link-text {
	margin-left:5px;
	font-size:12px;
	color:#999999;
	display:inline;
}

input#edit-facebook-link-status-submit-1, input#edit-facebook-link-status-submit, input#edit-facebook-link-link-submit {
	padding: 3px 5px;
	float:right;
	font-size:12px;
}

input#edit-facebook-link-share-link-check-1 {
	padding:0px;
	float:left;
}

#edit-facebook-link-share-link-link-wrapper {
	float:left;
	margin:0px;
	width:90%;
}

span.facebook-link-link-text {
	font-size:10px;
}

input#edit-facebook-link-share-link-attach {
	height:25px;
	padding: 0px 2px;
	font-size:12px;
	font-weight:bold;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-moz-border-radius-topleft: 0px;
	-webkit-border-top-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	-moz-border-radius-topright: 0px;
	-webkit-border-top-right-radius: 0px;	
}

input#edit-facebook-link-share-link-clear {
	float:right;
	padding:0px;
}

#facebook-link-url-box-outer {
	padding-left:8px;
	padding-right:5px;
	margin-bottom:5px;
}

input#edit-facebook-link-share-link-link {
	height:19px;
	padding:0px;
}

#facebook-link-link-outer {
	height:22px;
}

input#edit-facebook-link-share-link-link {
	width:99%;
}

#facebook-link-submit-outer {
	height:22px;
}


#facebook-link-description {
	margin-left:135px;
}

fieldset.facebook-link-wrapper-after-inner #facebook-link-link-outer, fieldset.facebook-link-wrapper-click-inner #facebook-link-link-outer {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E7E7E7;
	margin-bottom:10px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 5px;
	padding-left: 0px;
}

fieldset.facebook-link-wrapper-after-inner, fieldset.facebook-link-wrapper-click-inner {
	margin-bottom:5px;
	padding:5px;
	border: 1px solid #7DC146;
	margin-left:0px;
	margin-right:0px;
		-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	}

#edit-facebook-link-share-link-description-wrapper {
	
}

#edit-facebook-link-share-link-description {
	width:90%;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}

#edit-facebook-link-share-link-title {
	width:80%;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
}


#edit-facebook-link-share-link-title-wrapper label, #edit-facebook-link-share-link-description-wrapper label {
	display:none;
}


#facebook-link-attached-outer {
	padding-left:10px;
}

span#facebook-link-chars {
	font-size:10px;
	color:#999999;
	margin-left:5px;
}

#edit-facebook-link-share-link-no-thumb-wrapper {
	font-size:10px;
	color:#999999;
}


/**********************
	Facebook Outer Images 
	
******************/

#facebook-link-images-outer {
	margin-bottom:5px;
	padding:5px;
	border: 1px solid #E7E7E7;
}

#fl-thumbnail {
margin-right:10px;
display:block;
margin-bottom:10px;
}


/************

	Button
	
	*************/

input#edit-submit, input#edit-delete, input#edit-picture-upload-register, input.form-submit {
-moz-border-radius-bottomleft:5px;
-moz-border-radius-bottomright:5px;
-moz-border-radius-topleft:5px;
-moz-border-radius-topright:5px;
background-image:url(submit.png);
background-position:center center;
background-repeat:repeat-x;
border-color:#CACAD2 #B6B6BD #B6B6BD #CACAD2;
border-style:solid;
border-width:1px;
color:#7B6666;
font-size:14px;
padding:5px 10px;
}


